.rubik{
    position: fixed;
    width: 120px;
    height: 120px;
    z-index: $z-rubik;
    .rubik-logo{
        width: 120px;
        height: 120px;
        background: url('assets/img/rubik.svg') center no-repeat;
    }
}
