/*....................................SCSS VARIABLES..................................*/

$font-family: "Maison Neue",Helvetica Neue,Helvetica,Arial,sans-serif;

$paragraph-font-size: 30px;
$paragraph-line-height: 1.5em;
$subhead-font-size: 15px;
$subhead-line-height: 1em;

$white: #fff;
$white-2: #bbb;
$white-3: #777;

$lineheight-paragraph: 16px;
$lineheight-nav: 22px;

$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;

$white: rgba(255, 255, 255, 1);
$red: rgba(206, 17, 17, 1);
$red-opaque: rgba(206, 17, 17, 0.4);

$margin-sides: 30px;
$margin-bottom: 35px;
$margin-top: 20px;

$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;

$z-loader: 6;
$z-nav: 5;
$z-header: 4;
$z-main: 3;

$transition-slow: 1s;
$transition-medium: 0.7s;
$transition-fast: 0.4s;