.container{
    .header{
        max-width: 900px;
        padding: 150px 0 50px 0;
        h2{
            margin:-18px 0;
            font-weight:500;
            font-size:45px;
            line-height:1.5em;
            color:$white;
        }
    }
    .projects{
        margin:0 0 -30px;
        ul{
            margin:0;
            padding:0;
            list-style:none;
            li{
                display:inline-block;
                vertical-align:top;
                height: 200px;
                width: 200px;
                margin:0 30px 30px 0;
                float: right;
                // &:last-of-type{
                //     margin:0 0 -30px !important
                // }
                a{
                  height:100%;
                  width: 100%;
                  display: block;
                  overflow: hidden;
                    position: relative;
                  .home-project-name{
                    height: inherit;
                    width: inherit;
                    position: absolute;
                    z-index: 4;
                    background-color: #FFFFFF;
                    opacity: 0.9;
                    .home-project-name-p{
                      position: absolute;
                      height: 20px;
                      top:50%;
                      margin-top: -10px;
                      width: 100%;
                      text-align: center;
                      color: #000000;
                      font-size: $font-size-nav;
                    }
                    .home-project-name-category{
                      text-align: center;
                      position: absolute;
                      right: 5px;
                      bottom: 5px;
                      font-size: $font-size-paragraph;
                      color: #000000;
                      background-color: #FF0000;

                    }
                  }

                  .home-project-image{
                    position: relative;;
                    left:0;
                    top: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: auto;
                    height: 100%;
                    display: block;
                    z-index: 3;

                  }
                }
            }
        }
    }
}
